/* Estilo para las cards */
.product-card {
  text-align: center;
  padding: 10px; 
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 300px; 
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-card img {
  width: 100%; 
  height: auto; 
  border-radius: 8px;
}

.product-card h3 {
  font-size: 14px;
  color: #333;
  margin: 5px 0; 
}

.product-card h2 {
  font-size: 12px; 
  color: #E64A19;
  margin: 5px 0; 
}

.product-card p {
  font-size: 12px; 
  color: #666;
}

.product-card button {
  background: #E64A19;
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 12px; 
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
