/* Contenedor de la imagen */
.AnuncioImg {
    width: 100%; /* Toma todo el ancho de la pantalla */
    height: 320px; /* Puedes modificar el alto a tu gusto */
    display: flex; /* Asegura que el contenido esté alineado */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    overflow: hidden; /* Asegura que la imagen no desborde el contenedor */
  }
  
  /* Imagen dentro del contenedor */
  .AnuncioImg img {
    width: 100%; /* La imagen se adapta al ancho del contenedor */
    height: 100%; /* La imagen se adapta al alto del contenedor */
    object-fit: cover; /* Hace que la imagen recorte adecuadamente si no tiene proporciones iguales al contenedor */
  }
  