.carrito {
  height: 4rem;
  width: 4rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: #ff5722;
  border: 1px solid #ff5722;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.carrito:hover {
  transform: scale(1.1);
  background-color: #e64a19;
}

.imgCarrito {
  height: 2rem;
  width: 2rem;
}

.numberCarrito {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  color: #ff5722;
  border-radius: 50%;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
