body{
    background-image: url(ciudad.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 100vh;
}
.desplegable{
    background: #1e1e1e;
}
.barras{
    display: none;
}
nav {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si es necesario */
    height: 100px; /* Ajusta la altura según prefieras */
}

ul {
    display: flex;
    flex-direction: row; /* Asegura que los elementos estén en línea */
    justify-content: center; /* Centra los elementos dentro del `ul` */
    align-items: center; /* Centra verticalmente los enlaces */
    gap: 20px; /* Espaciado entre los elementos */
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
nav a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
}
li a{
    padding: 10px;
    display: block;
    text-align: left;
}
ul li a:hover{
    background: #ff5722;
}


/*aca configuro como se veria en tablet*/
@media (max-width: 850px){

    .barras{
        background-color: #1e1e1e;
        display: block;
    }
    .desplegable{
        /*width: 50%;
        height: 100vh;*/
        transform: translate(-100%);
        transition: 0.5s;
        font-size: 1.5rem;
        width: 50%;
        background: rgba(30, 30, 30, 0.5);
        backdrop-filter: blur(2px);
    }
    i{
        font-size: 30px;
        background: #1e1e1e;
        color: white;
    }
    li a{
        padding: 20px 0px 20px 20px;
        display: block;
        text-align: left;
    }
    ul{
        padding-top: 3rem;
        margin-top: 4rem;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    button{
        margin: 10px 10px 10px 20px;
        border: none;
    }
    .boton_menu{
        background-image: url('./icono_menu.png');
        background-color: #1e1e1e;
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
        background-position:center;
    }
    /*con esta clase abro y cierro el menu con toggle*/
    .abrir_menu{
        background: rgba(30, 30, 30, 0.6);
        backdrop-filter: blur(2px);
        transform: translate(0%);
        width: 50%;
        transition: 0.5s;
    }
    /*con esta clase cambio las barras por una x*/
    .colocar_x{
        background-image: url('./icono_x.png');
        background-color: #1e1e1e;
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
        background-position:center;
    }
}
/*aca configuro como se veria en celular*/
@media (max-width: 500px){
    .desplegable{
        width: 100%;
        height: 100vh;
        font-size: 1.6rem;
    }
    button{
        margin: 10px 10px 10px 15px;
    }
}